<style>
#header {display:none;}
#footer {display:none;}
</style>

<div class="offset3 span6">
<h2>Successfully Registered...</h2>
<h2>You need to signin now</h2>
<br><%= link_to "Sign In", new_user_session_path, :method => :get,class: "btn" %></br>
</div>

