<style>
#header {display:none;}
#footer {display:none;}
</style>

<h5><div class="jumbotron">

<% if user_signed_in? %>

<br></br>
<h2><%= link_to "Click here to list all customers", customers_path%></h2>
<br><br/>
<h2>click here to see/edit user details</h2> 
<h2><%= link_to "user profile",home_show_path,class: "btn btn-primary" %></h2>

<% else %>
<div class="offset3 span6">
<h2 class="sign_in_header">Ruby Benefit Fund</h2>
<br> </br>
<br><%= link_to "Sign In", new_user_session_path, :method => :get %></br>
<br><%= link_to "Sign up", new_user_registration_path, :method => :get %></br>
</div>

<% end %>
</div></h5>
