
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
     <h5>Ruby Benefit Fund<h5>
    </div>
  </div>
</header>    
 <!--<%= link_to "RBF",customers_path, id: "logo" %>-->
